.envelopeWrapper {
  margin: 0px;
  padding: 0px;
}
.cover {
  position: absolute;
  height: 0px;
  width: 0px;
}
.cover.top {
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 150px solid #8cc393;
  transform-origin: top;
}
.cover.bottom.right {
  border-left: 200px solid transparent;
  /* border-right: 200px solid #ff393c;
  border-bottom: 150px solid #ff393c; */
  border-right: 200px solid #65765a;
  border-bottom: 150px solid #65765a;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
}
.cover.left {
  border-left: 200px solid #51665f;
  border-right: 200px solid transparent;
  border-bottom: 150px solid transparent;
  border-top: 150px solid transparent;
  border-bottom-left-radius: 10px;
  z-index: 3;
}
.envelope {
  --envelopeHeight: 300px;
  position: inherit;
  width: 400px;
  height: var(--envelopeHeight);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  background-color: #65765a;
}

.introLetter {
  background-color: #ffffe1;
  position: absolute;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  height: calc(var(--envelopeHeight) - 10px);
  /* height: inherit; */
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.introLetter.enlargeLetter {
  animation: smallToBig 0.1s 0.5s linear 1 forwards;
}

@keyframes smallToBig {
  60% {
    transform: scale(1.5);
    z-index: 4;
  }
  100% {
    transform: scale(1.8);
    z-index: 4;
  }
}

.loopLetterAnimation {
  animation: openNclose 0.5s linear 1 forwards;
}
@keyframes openNclose {
  0% {
    transform: rotateX(0deg);
    transition: transform linear;
    z-index: 3;
  }
  50% {
    z-index: 3;
  }
  51% {
    z-index: 1;
  }
  100% {
    transform: rotateX(180deg);
    transition: transform linear;
    z-index: 1;
  }
}

.loopPartOutNInAnimation {
  animation: partOutNIn 0.5s linear 1 forwards;
}
@keyframes partOutNIn {
  0% {
  }
  50% {
    transform: translateY(0px);
    transition: transform linear;
    z-index: 2;
  }
  100% {
    transform: translateY(-100px);
    transition: transform linear;
    z-index: 2;
  }
}
